.menu {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 0.55em;
    justify-content: flex-start;
}

.menu>a,
.post__button {
    display: flex;
    column-gap: 0.5em;
    justify-content: flex-start;
    padding: .8em;
    border-radius: 2em;
    font-size: medium;
}

.post__button {
    border-radius: 2em;
    margin-right: 0.8em;
    justify-content: center !important;
}